<!doctype html>
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Weather</h1>
    <form method="POST" action="/weather">
        <p>City: <input id="city" type="text" name="city" value="" /></p>
        <input type="submit" value="Get Weather" />
      </form>
  </body>
</html>

